body {
    padding: 0%;
    background-color: rgb(167, 160, 160);
    margin: 0%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
}

.mainleft {
    flex: 0.7;
    background-color: beige;
    min-height: 90vh;
    height: auto;
}

.topbar {
    background-color: rgb(182, 182, 166);
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dashboard {
    position: absolute;
    top: 20px;
    left: 20px;
}

.dashboard > img {
    height: 40px;
}
.home > h1 {
    margin: 0%;
    padding-top: 10px;
    padding-left: 10px;
}

.projects > h1 {
    margin: 0%;
    padding-top: 10px;
    padding-left: 10px;
}

hr {
    width: 95%;
}

.homeOptions {
    padding: 5px;
}

.homeOptions > button > h2 {
    margin: 0%;
    padding-left: 10px;
}

.homeOptions > button {
    width: 100%;
    padding: 3px;
    border: 0px;
    font-size: 1em;
    display: inline-flex;
    text-align: center;
    align-items: center;
    background-color: beige;
} 

.homeOptions > button > img {
    height: 25px;
}

.heading {
    height: 8vh;
    padding-left: 0px;
    padding-right: 0px;
    padding: 1vh;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.heading > h1 {
    margin: 0%;
    padding-left: 10px;
    text-align: center;
}

.heading > img {
    height: 40px;
}

.project {
    background-color: beige;
    margin-left: 10px;
    display: inline-flex;
    width: 90%;
}

.option {
    justify-content: end;
}

.project > button {
    background-color: beige;
    align-items: center;
    border: 0px;
    display: inline-flex;
    padding: 0%;
    width: 100%;
    text-align: start;
    padding-bottom: 10px;
}


.project > button > img {
    height: 25px;
}

.project > button > h1 {
    padding-left: 10px;
    margin: 0px;
}

#ProjectDetails {
    padding-left: 10px;
}

#ProjectDetails > #getProject {
    margin-top: 10px;
    margin-left: 30px;
    background-color: green;
    width: 80px;
    border: 0px;
    font-size: 1em;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
}

#ProjectDetails > #cancel {
    margin-top: 10px;
    margin-left: 10px;
    background-color: red;
    width: 80px;
    border: 0px;
    font-size: 1em;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
}

#proInfo {
    display: flex;
    align-items: center;
}

#proName {
    font-size: 1em;
    background-color: beige;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid black;
}

#proInfo > img {
    height: 25px;
}

#right {
    flex: 3;
    height: 100%;
}

#right > #details {
    padding: 20px;
}

.task {
    background-color: antiquewhite;
    display: flex;
    padding: 15px;
    align-items: center;
    text-align: center;
}

.task > p {
    margin: 0%;
    font-size: 1em;
}

.task > h1 {
    margin: 0%;
    font-size: 1.1em;
    padding-right: 5px;
}

#proadd {
    background-color: chocolate;
    border: 0px;
    height: 5vh;
    width: 5vh;
    margin: 10px;
    font-size: 2em;
    border-radius: 30px;
}

#addtask {
    position:fixed;
    background-color: chocolate;
    bottom: 10px;
    border: 0px;
    border-radius: 30px;
    font-size: 2em;
    height: 5vh;
    width: 5vh;
    right: 20px;
}

#taskDetails {
    border-radius: 20px;
    padding: 15px;
    margin: 20px;
    background-color: aliceblue;
    font-size: 1.2em;
}

#taskinfo > input {
    font-size: 0.8em;
    width: 100%;
    padding: 5px;
}

#taskDetails > #getTask {
    margin-left: 20px;
    font-size: 0.8em;
    border-radius: 10px;
    padding: 10px;
    border: 0px;
    width: 100px;
    background-color: green;
    color: white;
    font-weight: bold;
}

#taskDetails > #cancelTask {
    margin-left: 20px;
    font-size: 0.8em;
    border-radius: 10px;
    padding: 10px;
    border: 0px;
    width: 100px;
    background-color: red;
    color: white;
    font-weight: bold;
}

#taskinfo {
    margin: 20px;
    margin-top: 10px;
}

#complete {
    text-decoration: line-through;
}